<ion-view title="Aquarius Manager">
    <ion-content class="padding">
        <p>
            O <strong>Aqua Manager</strong> foi criado na FIAP, em um projeto de Desenvolvimento para IoT, por <strong>Cauê
            Almeida</strong> e <strong>Leonardo Vinagre</strong>.
        </p>

        <p>
            Para mais informações, acesse <a href="http://google.com"
                                             onclick="window.open(this.href, '_system', 'location=yes'); return false;">nosso
            site</a>.
        </p>
    </ion-content>
</ion-view>