<ion-tabs class="tabs-icon-top">

    <ion-tab title="PH"
             icon="icon ion-waterdrop"
             ui-sref="tab.ph">
        <ion-nav-view name="tab-ph"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Temperature"
             icon="icon ion-thermometer"
             ui-sref="tab.temperature">
        <ion-nav-view name="tab-temperature"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Sobre"
             icon="icon ion-ios-people"
             ui-sref="tab.about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>


</ion-tabs>